.card-container {
    position: relative;
    list-style: none;
    .card {
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: solid 1px #ececec;
        height: 245px;
        transition: 0.2s ease-out;
        transition-property: box-shadow, height;
        background: #fff;
        > .row {
            margin: 0;
        }
        header {
            margin-bottom: 10px;
            p {
                margin-bottom: 0;
            }
            h3 {
                margin:5px 0;
            }
        }
        &.large {
            padding: 20px;
            img {
                float: left;
            }
            figcaption {
                max-width: 700px;
                margin-left: 150px;
                h3 {
                    margin-top: 0;
                }
                .danger {
                    color: #d9534f;
                }
                .warning {
                    color: #f0ad4e;
                }
                .success {
                    color: #5cb85c;
                }
            }
            .content {
                display: none;
                .btn {
                    margin-top: 40px;
                }
            }
            &.expand {
                height: 500px;
                box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.25);
                position: relative;
                width: 100%;
                z-index: 99;
            }
            &.expand,
            &.expand-remove {
                > .content {
                    display: block;
                }
            }
        }
    }
}