<div class="widget">
    <h2 class="uppercase">opening this week</h2>
    <ul>
        <li ng-repeat="movie in openingMovies" class="card-container">
            <jlj-movie-base movie="movie"></jlj-movie-base>
        </li>
    </ul>
    <!--    <p><a href="">see all</a></p>-->
</div>



<div class="widget">
    <h2 class="uppercase">now playing</h2>
    <ul>
        <li ng-repeat="movie in topMovies" class="card-container">
            <jlj-movie-base movie="movie" released="true"></jlj-movie-base>
        </li>
    </ul>
    <!--    <p><a href="">see all</a></p>-->
</div>